<%- include('header') -%>

    <body>
        <div class="box" id="heading">

            <h1>
                <%= currentday %>
            </h1>
        </div>


        <div class="box">

            <% for(let i=0;i<newtask.length;i++){ %>

                <div class="item">
                    <input type="checkbox">
                    <p>
                        <%= newtask[i] %>
                    </p>
                </div>

                <% } %>

                    <form class="item" action=<%=actionValue %> method="post">
                        <input type="text" name="task" placeholder="Enter Task" autocomplete="off">
                        <button type="submit">+</button>
                    </form>

        </div>




        <script type="module" src="index.js"></script>

<%- include('footer') -%>